<div class="table-responsive">
  <table style="background-color: white" class="table">
    <thead>
      <tr>
        <th scope="col" style="width:20%">Name</th>
        <th scope="col" style="width:20%">Brand</th>
        <th scope="col" style="width:20%"><span #lastDigits>Last 4 digits</span></th>
        <th scope="col" style="width:20%">Transaction type</th>
        <th scope="col" style="width:10%"><span #amountth>Amount</span></th>
        <th scope="col" style="width:10%">Currency</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of data; let i=index">
        <tr [ngClass]="{selectedRow : selectedRow === i}" [ngStyle]="{'background-color': selectedRow === i ? '#f6f7fb' : 'white'}"
          (click)="selectedRow = selectedRow === i ? null : i">
          <td>{{row.card.holderName}}</td>
          <td>{{creditCardsDictionary[row.brandId]}}</td>
          <td><span [ngStyle]="{'min-width': digitsWidth}" style="display:inline-block; text-align: right">XXXX {{row.card.lastFourDigits}}</span></td>
          <td>{{row.action | titlecase}}</td>
          <td><span [ngStyle]="{'min-width': amountWidth}" style="display:inline-block; text-align: right">{{row.amount | myCurrency}}</span></td>
          <td> {{row.currencyCode}}</td>
        </tr>
        <tr *ngIf="selectedRow==i">
          <td style="padding:0px;"colspan="6">
            <div style="width:100%; display:flex; align-content: center; justify-content: space-between;
            padding:30px 50px; background-color: #f6f7fb">
              <div style="display:flex; flex:1; flex-direction: column;">
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">ID:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.id}}</div>
                </div>
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">Tracking code:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.trackingCode}}</div>
                </div>
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">Brand ID:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.brandId}}</div>
                </div>
              </div>
              <div style="display:flex; flex:1; flex-direction: column;">
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">First 6 digits:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.card.firstSixDigits}} XXXX</div>
                </div>
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">Expiry month:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.card.expiryMonth}}</div>
                </div>
                <div class="hiddenDetailsRow">
                  <div class="hiddenDetailsTitle" style="flex:1">Expiry year:</div>
                  <div class="hiddenDetails" style="flex:3">{{row.card.expiryYear}}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>